[Unit]
Description=ComfyUI Service
After=network.target

[Service]
User=ck
Group=ck
WorkingDirectory=/home/ck/myProjects/ComfyUI
ExecStart=/home/ck/myProjects/ComfyUI/start_comfyui.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
